<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head th:replace="layout :: site-head"/>

<body>

<!-- Header  -->
<header th:replace="layout :: site-header"/>

<!-- Home Section -->
<section id="home" class="main-home parallax-section">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h1>Welcome to the Draycott Live blog!</h1>
                <h4>My honest ramblings about everything from Open Source Software to Health & Fitness</h4>
                <a href="#blog" class="smoothScroll btn btn-default">Discover More</a>
            </div>

        </div>
    </div>
</section>

<!-- Blog Section -->
<section id="blog">
    <div class="container">
        <div class="row">
            <article th:each="post : ${latest3posts}">
                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="blog-post-image">
                            <a href="single-post">
                                <img src="images/blog-image1.jpg" class="img-responsive" alt="Blog Image">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-post-title">
                                <h3 class="title" th:text="${post.title}">Post Title</h3>
                            </div>
                            <div>
                                <p class="content" th:text="${post.body}">Post content</p>
                            </div>
                            <div class="blog-post-format">
                                <span th:if="${post.author}" th:remove="tag">
                                    <span><img src="images/author-image1.jpg" class="img-responsive img-circle">
                                        <i>by</i> 
                                        <span th:text="${post.author.fullName != null ?
                                            post.author.fullName : post.author.username}">Author
                                        </span><br>
                                        <i>Posted on</i>
                                        <p th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}">Date</p>
                                    </span>
                                </span>
                            </div>

                            <div class="blog-post-des">
                                <form th:action="@{/single-post(id=${post.id})}" method="POST" name="single-post">
                                    <a href="javascript:document.forms['single-post'].submit()" class="btn btn-default">Continue
                                        Reading</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

<!-- Footer Section -->
<footer th:replace="layout :: site-footer"/>

</body>
</html>