<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/security http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="site-head">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Draycott Live</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

</head>

<header th:fragment="site-header">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Draycott Live</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="gallery">Gallery</a></li>
                    <li><a href="contact">Contact</a></li>

                    <li sec:authorize="isAuthenticated()" class="dropdown">
                        <a class="dropdown-toggle avatar-text" data-toggle="dropdown">
                            <span th:href="@{/user}" th:text="${currentUser.username}">Username</span>
                            <img th:src="${userImage}" id="avatar" class="avatar" alt="Avatar"/>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <form class="dropdown-item" method="POST" th:action="@{/logout}" name="logout">
                                    <a class="dropdown-item"
                                       href="javascript:document.forms['logout'].submit()">Logout</a>
                                </form>
                            </li>
                            <a class="dropdown-item" href="/user-area" name="user-area">User Settings</a>
                        </ul>
                    <li sec:authorize="isAnonymous()">
                        <form class="nav-bar-form" method="POST" th:action="@{/login}" name="login">
                            <a href="javascript:document.forms['login'].submit()">Login</a>
                        </form>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Preloader -->
    <div class="preloader">
        <div class="sk-spinner sk-spinner-wordpress">
            <span class="sk-inner-circle"></span>
        </div>
    </div>

</header>

<footer th:fragment="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-md-offset-1 col-sm-6">
                <h3>Draycott Live</h3>
                <p>Made using: Java, Spring Boot, Thymeleaf, JQuery, Bootstrap and Tooplate's "Neuron" template.</p>
                <div class="footer-copyright">
                    <p>Copyright &copy;Richard Draycott</p>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1 col-sm-6">
                <h3>Talk to me!</h3>
                <p><i class="fa fa-save"></i> Richard@Draycott.Live</p>
            </div>

            <div class="clearfix col-md-12 col-sm-12">
                <hr>
            </div>

        </div>
    </div>

    <!-- Back to top -->
    <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

    <!-- Scripts -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jquery.parallax.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>

</footer>