<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head th:replace="layout :: site-head"/>

<body>

<!-- Header  -->
<header th:replace="layout :: site-header"/>

<!-- Home Section -->
<section id="home" class="main-thanks parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h1>Thanks!</h1>
                <h3>Thank you for your feedback, I'll try and respond as quickly as I can.</h3>
            </div>

        </div>
    </div>
</section>

<!-- Thank-You Page -->
<section id="thanks">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h2>Your Message:</h2>
                <p th:text="'name: ' + ${contactForm.name}">Name</p>
                <p th:text="'email: ' + ${contactForm.email}">Email</p>
                <p th:text="'subject: ' + ${contactForm.subject}">Subject</p>
                <p th:text="'message: ' + ${contactForm.message}">Message</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer Section -->
<footer th:replace="layout :: site-footer"/>

</body>
</html>