<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/security http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<div th:fragment="image-uploader">

    <section id="user-area">

        <div class="container">
            <div class="row">

                <div class="input-group col-md-offset-1 col-md-10 col-sm-12">
                    <div th:if="${message}">
                        <h4 class="settings-h4" th:text="${message}"/>
                    </div>

                    <form method="POST" enctype="multipart/form-data" th:action="@{/file-upload}">
                        <h4 class="settings-h4">Upload your new avatar below: </h4>

                        <div class="col-md-2 col-sm-2">
                            <label class="file-upload col-md-4 col-sm-4">
                                <span class="btn btn-default">Browse</span>
                                <input type="file" name="file" required onchange="readURL(this);"/>

                            </label>
                        </div>

                        <div class="upload-thumb col-md-2 col-sm-2">
                            <img src="#" id="image-preview" alt="Select File"/>
                            <script>
                                document.getElementById('image-preview').style.borderRadius = '50%';
                            </script>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <input type="submit" value="Upload" id="upload" class="btn-default btn"/>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

</div>