<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!-- Head -->
<head th:replace="layout :: site-head"/>

<body>

<!-- Header  -->
<header th:replace="layout :: site-header"/>

<!-- User Settings Section -->
<section id="user-area">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h1 class="user-settings-header">User Settings</h1>
            </div>

        </div>
    </div>
</section>

<!-- Change Email/Password Section -->
<section id="login">
    <div class="container">
        <div class="row">

            <!-- Upload Section -->
            <div th:replace="uploader :: image-uploader"/>

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h4 class="settings-h4">Change Email:</h4>
                <form action="#" th:action="@{/change-email}" th:object="${changeEmailForm}" id="changeEmailForm"
                      method="post">
                    <div class="col-md-6 col-sm-6">
                        <input name="currentEmailPassword" type="password"
                               th:field="${changeEmailForm.currentEmailPassword}" required class="form-control"
                               id="currentEmailPassword" placeholder="Current Password">
                        <div class="alert-danger"
                             th:if="${#fields.errors('currentEmailPassword')}" th:text="${emailErrorMessage}">Validation
                            Error
                        </div>
                    </div>
                    <br style="clear: both;">
                    <div class="col-md-6 col-sm-6">
                        <input name="newEmailAddress" type="email" th:field="${changeEmailForm.newEmailAddress}"
                               required class="form-control"
                               id="newEmailAddress" placeholder="New Email Address">
                    </div>
                    <br style="clear: both;">
                    <div class="col-md-4 col-sm-4">
                        <input name="submit" type="submit" class="form-control" id="submit-change-email"
                               value="Change Email">
                    </div>
                </form>
            </div>

            <br style="clear: both;">
            <br style="clear: both;">
            <br style="clear: both;">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h4 class="settings-h4">Change Password:</h4>
                <form action="#" th:action="@{/change-password}" th:object="${changePasswordForm}"
                      id="changePasswordForm" method="post">
                    <div class="col-md-6 col-sm-6">
                        <input name="currentPassword" type="password" th:field="*{currentPassword}" required
                               class="form-control" id="currentPassword" placeholder="Current Password">
                        <div class="alert-danger"
                             th:if="${#fields.errors('currentPassword')}" th:text="${passwordErrorMessage}">Validation
                            Error
                        </div>
                    </div>
                    <br style="clear: both;">
                    <div class="col-md-6 col-sm-6">
                        <input name="password" type="password" th:field="*{password}" required class="form-control"
                               id="password" placeholder="New Password">
                        <div class="alert-danger"
                             th:if="${#fields.errors('password')}" th:errors="*{password}">Validation Error
                        </div>
                    </div>
                    <br style="clear: both;">
                    <div class="col-md-6 col-sm-6">
                        <input name="confirmPassword" type="password" th:field="*{confirmPassword}" required
                               class="form-control" id="confirmPassword" placeholder="Confirm Password">
                    </div>
                    <br style="clear: both;">
                    <div class="col-md-4 col-sm-4">
                        <input name="submit" type="submit" class="form-control" id="submit-change-password"
                               value="Change Password">
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>


<!-- Footer Section -->
<footer th:replace="layout :: site-footer"/>

</body>
</html>
